body {
    background-color: #9a7685;
}

header {
    background-color: #ddd1d6;
    width: 75%;
    margin: 100px auto 30px auto;
    padding-bottom: 5px;
    color: #1e1a56;
    text-align: center;
/* this border situation brought to you by https://developer.mozilla.org/en-US/docs/Web/CSS/border-image and https://www.w3schools.com/cssref/css3_pr_border-image.php*/
    border-image: url("https://cdn.pixabay.com/photo/2016/11/14/14/13/vintage-1823626_1280.png");
    border-image-repeat: repeat;
    border-image-width: 40px;
    border-image-slice: 100%;
    border-image-outset: 20px;
    border-radius: 30%;
}

header h1 {
    line-height: 50px;
}

header p {
    line-height: 10px;
}

header a:link {
    color: #010001;
}
 
header a:visited {
    color: #ab3467;
}

header a:hover {
    color:#ab3467;
}

.info {
    width: 75%;
    margin: auto;
    text-align: center;
    border-style:groove;
    border-color: #1a4c56;
    border-radius: 5%;
    background-color: #a3b7bb;
}

.info img {
    border-style: outset;
    border-radius: 15%;
    border-color: #b870ac;
    animation: flip-with-scale 3s infinite;
}

/* image flip brought to you by https://pqina.nl/blog/flipping-images-with-css-and-javascript/ */

@keyframes flip-with-scale {
    0% {
        transform: perspective(400px) scaleX(1);
    }

    100% {
        transform: perspective(400px) scaleX(-1);
    }
}

.info h2 {
    margin: 20px 300px;
    background-color: #0d262b;
    color:#dcd6e1;
    border-style: double;
    border-color: #9a7685;
    border-radius: 5%;
    line-height: 35px;
}

.info h3 {
    margin: 20px 200px;
    background-color: #3d5155;
    color:#dcd6e1;
    border-style: dotted;
    border-width: 2px;
    border-color: #9a7685;
    border-radius: 5%;
    line-height: 25px;
    text-decoration: line-through;
}

.info p {
    color:#3d5155;
    text-shadow: .5px .5px #1a4c56;
}